<html>

<head>
  <title></title>
 <link href="/css/tour.css" rel="stylesheet">
 <a href="http://www.fxexchangerate.com/currency-codes.html">Currency Symbols</a>
</head>

<div class="add">
<form action="/trans/add" method="POST">
	Amount:<input name="currency_amount" type="number" min='0' class='amount' id='curr_amount' placeholder='Amount to convert' />
	Currency:<select name="currency_id">
		{{#currency}}
		<option value="{{id}}">{{description}}</option>
		{{/currency}}

	</select>
	<input type="submit" value="convert">
</form>
</div>
<html>