<h1></h1>
{{Home}}
{{server}}

<div class="col-lg-12 text-center">
<div id="carousel-example-generic" class="carousel slide">
<h2 class="brand-before">
</h2>Tour Bank<div id="slide-container">

		 <blockquote class="imgur-embed-pub" lang="en" data-id="Tc8uWr1"><a href="//imgur.
	
</div>
</div>