<table class="table">
<tr>

<th>Description</th>
<th>Exchange Rate</th>
<th>Amount</th>
</tr>

{{#transact}}
<tr>
<td>{{description}}</td>
<!-- <td>{{descriptions}}</td> -->
<td>{{exchange_rate}}</td>
<td>{{currency_amount}}</td>
</tr>
{{/transact}}
</table>